.News__grid#contact__rendering  
  .News__title
    = contacts.btitle
  .News__discribe
    = contacts.bdiscribe


.News__grid2
  .News__contents
    -# .News__contents__lists__1
    - blogsfs.each do |b|
      .News__contents__lists__1
        .armin__image
          - if b.image?
            = image_tag(b.image.url)               
        .armin__title
          = b.title
        .armin__discribe
          = b.discribe
        .armin__days
          = b.updated_at.strftime('%Y/%m/%d %H:%M:%S')
  
        .News__contents__list__no{id:"blogs_area--box3-#{b.id}"}
          .aaa
            .armin__image__blog
              -# - if b.image?
              -#   = image_tag(b.image.url)
            .bbb
              .armin__title__blog
                = b.title
              .armin__days__blog
                = b.updated_at.strftime('%Y/%m/%d %H:%M:%S')
              .armin__richcontents
                = b.content
            .blogscr-edit-button.aformd__edit__button{id: "blogscr-edit-button#{b.id}", :style => "display: none;"}
              .aaaaa.blogscr-cancel-button{"data-cancel-idblogs" => "#{b.id}"}
                = icon("far","times-circle")

          .TopContents__b2homes__edit
            .TopContents__b2homes__edit__button{"data-b2homes__id": "#{b.id}"}
              = icon("fas","edit")
              編集する
        
          .TopContents__b2homes__edit
            .TopContents__b3homes__edit__button{"data-b3homes__id": "#{b.id}"}
              -# = icon("fas","edit")
              = link_to blogs_path(blog_id:b.id),method: :delete,remote: :true,class:"deleteblogs" do
                削除する
        .TopContents__ahomes{id: "b2homes_area--box3-#{b.id}"}
          .ahomes_secondary
            blogの編集
    
          =form_with model: Blog.find(b.id),url:blogs_path(blog_id:b.id),method: :patch do |f|
            .ahomes__form
              .ahomes__title.aformd__title
                .formtitles
                  タイトル
                = f.text_field :title, class: "b1homes__title__field aformd",autocomplete: "off",placeholder:"上段のタイトルを入力してください",id:"js-b1home-edit-1"
              .ahomes__title2.aformd__title
                .formtitles
                  詳細
                
                = f.text_field :discribe, class: "b1homes__title2__field aformd",autocomplete: "off",placeholder:"下段のタイトルを入力してください",id:"js-b1home-edit-1"

              .blogs__image.aformd__title
                .formtitles
                  画像
                = f.file_field :image, class:"aformd"

              .blogs__contents
                =f.rich_text_area :content,class:"aformd"
              
            .ahomes__submit
              = f.submit "投稿",class:"aformd__submit"

          .b2cr-edit-button.aformd__edit__button{id: "b2cr-edit-button#{b.id}", :style => "display: none;"}
            .aaaaa.b2cr-cancel-button{"data-cancel-idb2" => "#{b.id}"}
              = icon("far", "times-circle")
              
        
          




        
        .News__contents__lists__cover{"data-b2blogs__id": "#{b.id}"}