.ahomes_secondary
  fourthPageの編集

=form_with model: fhomes,url:fhomes_path,method: :patch, remote:true do |f|
  .ahomes__form
    .ahomes__title.aformd__title
      .formtitles
        上段のタイトル
      = f.text_field :title, class: "fhomes__title__field aformd",autocomplete: "off",placeholder:"上段のタイトルを入力してください",id:"js-fhome-edit-#{fhomes.id}"
    
    .ahomes__title.aformd__title
      .formtitles
        下段のタイトル
      = f.text_field :title2, class: "fhomes__title__field aformd",autocomplete: "off",placeholder:"下段のタイトルを入力してください",id:"js-fhome-edit-#{fhomes.id}"
    .ahomes__title2.aformd__title
      .formtitles
        詳細         
      = f.text_field :discribe, class: "fhomes__title2__field aformd",autocomplete: "off",placeholder:"下段のタイトルを入力してください",id:"js-fhome-edit-#{fhomes.id}"
    
  = f.fields_for :ffhomes do |c|       
    .form-group
          
      .aformd__title
        .formtitles
          = c.label :title

        = c.text_field :title,class:"aformd"
      
      .aformd__title
        .formtitles
          = c.label :discribe

        = c.text_field :discribe,class:"aformd"
      
    
  .ahomes__submit
    = f.submit "更新",class:"aformd__submit"

.fcr-edit-button.aformd__edit__button{id: "fcr-edit-button#{fhomes.id}", :style => "display: none;"}
  .aaaaa.fcr-cancel-button{"data-cancel-idf" => "#{fhomes.id}"}
    = icon("far","times-circle")