$('#fhomes__rendering').html("<%= j(render partial: 'fhomes/fhomes', locals: {fhomes: @fhomes}) %>");
$('#fhomes_area--box3-<%= @fhomes.id %>').html("<%= j(render partial: 'fhomes/fhomes', locals: {fhomes: @fhomes}) %>");


$('#fhomes_area--box3-<%= @fhomes.id %>').hide();
$('#fcr-edit-button<%= @fhomes.id %>').hide;
  $(".allcover__sheet").css("display","none");
$('#alert-message').html('<div class="alert alert-success"><%= @msg %></div>')

$("#alert-message").fadeIn().queue(function() {
            setTimeout(function(){$("#alert-message").dequeue();
            }, 5000);
        });

        $("#alert-message").fadeOut();