$('#ihomes__rendering').html("<%= j(render partial: 'ihomes/ihomes', locals: {ihomes: @ihomes}) %>");
$('#ihomes_area--box3-<%= @ihomes.id %>').html("<%= j(render partial: 'ihomes/admins_ihomes', locals: {ihomes: @ihomes}) %>");


$('#ihomes_area--box3-<%= @ihomes.id %>').hide();
$('#icr-edit-button<%= @ihomes.id %>').hide;
  $(".allcover__sheet").css("display","none");
$('#alert-message').html('<div class="alert alert-success"><%= @msg %></div>')

$("#alert-message").fadeIn().queue(function() {
            setTimeout(function(){$("#alert-message").dequeue();
            }, 5000);
        });

        $("#alert-message").fadeOut();