.MainContents
  .TopContents
    .TopContents__container{id: "ahomes_area--box2-#{@ahomes.id}"}
      = render partial: "ahomes/ahomes", locals: { ahomes: @ahomes }
    .viemp4 
      -# = video_tag asset_pack_path "videos/Camera - 26531のコピー.mp4", playsinline: true, autoplay: true, loop: true, muted: true, width: "320", height: "240", class: "index-video"
      -# -# poster:asset_pack_path:"images/alex-kotliarskyi-QBpZGqEMsKg-unsplash1.jpg"
      = video_tag "/videos/Camera - 26531.mp4", playsinline: true,poster:"/videos/alex-kotliarskyi-QBpZGqEMsKg-unsplash1.jpg", autoplay: true, loop: true, muted: true, width: "320", height: "240", class: "index-video"          

    .TopContents__ahomes{id: "ahomes_area--box3-#{@ahomes.id}"}
      = render partial: "ahomes/admins_ahomes", locals: { ahomes: @ahomes }
    .TopContents__ahomes__edit
      .TopContents__ahomes__edit__button{"data-ahomes__id": "#{@ahomes.id}"}
        = icon("fas","edit")
        編集する
  
  .SectionBoxA#ac
    - if request.from_smartphone?

    - else
      #ehomes__rendering
        = render partial: "ehomes/ehomes", locals: { ehomes: @ehomes } 
    
      .TopContents__ahomes{id: "ehomes_area--box3-#{@ehomes.id}"}
        = render partial: "ehomes/admins_ehomes", locals: { ehomes: @ehomes } 
      .TopContents__ehomes__edit
        .TopContents__ehomes__edit__button{"data-ehomes__id": "#{@ehomes.id}"}
          = icon("fas","edit")
          編集する
      
    
  .sectionBoxAA#ab
    .About#chomes__rendering
      = render partial: "chomes/chomes", locals: { chomes: @chomes }
      
    .TopContents__ahomes{id: "chomes_area--box3-#{@chomes.id}"}
      = render partial: "chomes/admins_chomes", locals: { chomes: @chomes }

    .TopContents__chomes__edit
      .TopContents__chomes__edit__button{"data-chomes__id": "#{@chomes.id}"}
        = icon("fas","edit")
        編集する


  .sectionBoxAB
    .sectionBocABC#dhomes__rendering
      = render partial: "dhomes/dhomes", locals: { dhomes: @dhomes }

    .TopContents__ahomes{id: "dhomes_area--box3-#{@dhomes.id}"}
      = render partial: "dhomes/admins_dhomes", locals: { dhomes: @dhomes }


    .TopContents__dhomes__edit
      .TopContents__dhomes__edit__button{"data-dhomes__id": "#{@dhomes.id}"}
        = icon("fas","edit")
        編集する




  -# %h1 Swiperを使ってカルーセル
  / Slider main container
  .SectionBoxA#aa
    #bbc
      = render partial: "bhomes/bhomes", locals: { bhomes: @bhomes }

    .TopContents__ahomes{id: "bhomes_area--box3-#{@bhomes.id}"}
      = render partial: "bhomes/admins_bhomes", locals: { bhomes: @bhomes }

    .TopContents__bhomes__edit
      .TopContents__bhomes__edit__button{"data-bhomes__id": "#{@bhomes.id}"}
        = icon("fas","edit")
        編集する
    
  
  
          
          

          
  
  
  
  .sectionboxG#ae
    - if request.from_smartphone?


    - else
      #ihomes__rendering
        = render partial: 'ihomes/ihomes', locals: {ihomes: @ihomes}    
      
      .TopContents__ahomes{id: "ihomes_area--box3-#{@ihomes.id}"}
        = render partial: 'ihomes/admins_ihomes', locals: {ihomes: @ihomes}

      .TopContents__ihomes__edit
        .TopContents__ihomes__edit__button{"data-ihomes__id": "#{@ihomes.id}"}
          = icon("fas","edit")
          編集する
  

  .SectionBoxA#ad
    -# #fhomes__rendering
    -#   = render partial: 'fhomes/fhomes', locals: {fhomes: @fhomes} 
    #interviews__rendering
      = render partial: 'interviews/interviews',locals:{interviews: @interviews}
    -# .TopContents__ahomes{id: "fhomes_area--box3-#{@fhomes.id}"}
    -#   = render partial: 'fhomes/admins_fhomes', locals: {fhomes: @fhomes}
    .TopContents__ahomes{id: "fhomes_area--box3-#{@homes.id}"}
      -#   = render partial: 'fhomes/admins_fhomes', locals: {fhomes: @fhomes}
      =render partial:'interviews/admin_interviews',locals:{homes: @homes}

    .TopContents__fhomes__edit
      .TopContents__fhomes__edit__button{"data-fhomes__id": "#{@homes.id}"}
        = icon("fas","edit")
        編集する
  
  -# .sectionBoxAA#ab
  -#   .About#chomes__rendering
  -#     = render partial: "chomes/chomes", locals: { chomes: @chomes }
      
  -#   .TopContents__ahomes{id: "chomes_area--box3-#{@chomes.id}"}
  -#     = render partial: "chomes/admins_chomes", locals: { chomes: @chomes }

  -#   .TopContents__chomes__edit
  -#     .TopContents__chomes__edit__button{"data-chomes__id": "#{@chomes.id}"}
  -#       = icon("fas","edit")
  -#       編集する


  -# .sectionBoxAB
  -#   .sectionBocABC#dhomes__rendering
  -#     = render partial: "dhomes/dhomes", locals: { dhomes: @dhomes }

  -#   .TopContents__ahomes{id: "dhomes_area--box3-#{@dhomes.id}"}
  -#     = render partial: "dhomes/admins_dhomes", locals: { dhomes: @dhomes }


  -#   .TopContents__dhomes__edit
  -#     .TopContents__dhomes__edit__button{"data-dhomes__id": "#{@dhomes.id}"}
  -#       = icon("fas","edit")
  -#       編集する


  -# .sectionboxN#af
  -#   -# .News__grid#contact__rendering
  -#     -# = render partial: 'contacts/contact_homes', locals: {contacts: @contacts}
  -#   .News#bloghomes__rendering
  -#     = render partial: 'blogs/blogs', locals: {blogsfs: @blogsfs,contacts: @contacts}
    




  -#   .TopContents__ahomes{id: "b1homes_area--box3-1"}
  -#     = render partial: 'blogs/admins_blogs', locals: {blogs: @blogs}


  -#   .TopContents__b1homes__edit
  -#     .TopContents__b1homes__edit__button{"data-b1homes__id": "1"}
  -#       = icon("fas","edit")
  -#       新規作成
            
  .sectionboxCO#ag
    .ContactUs.admin__ContactUs#renderfieldContactUs
      = render partial: 'admin_content', locals: {inquiries: @inquiries}
            
    .TopContents__ahomes{id: "cuhomes_area--box3-1"}
      = render partial: 'contacts/admins_contactus', locals: {cuhomes: @contacts}
    .TopContents__cuhomes__edit
      .TopContents__cuhomes__edit__button{"data-cuhomes__id": "#{@contacts.id}"}
        = icon("fas","edit")
        編集する
          
  
  %footer 
    .footer__logo
      = image_pack_tag "S__330563589.png"
    
    .footer__adress
      = link_to  new_user_session_path, method: :get do
        Adress：
        = @ahomes.adress

    .footer__copyright
      = link_to destroy_user_session_path, method: :delete do
        Copyright © 2021 MC.atgmw628


  .youtube__box

  .allcover__sheet




-# %script{:src => "https://unpkg.com/swiper/swiper-bundle.js"}
-# %script{:src => "https://unpkg.com/swiper/swiper-bundle.min.js"}
-# = javascript_pack_tag "swiper/swiper.js"


  


      