.nested-fields
  .field
    .aformd__title
      .formtitles
        = f.label :title
      = f.text_field :title, class:"aformd"
    .aformd__title
      .formtitles
        = f.label :discribe
      = f.text_field :discribe, class:"aformd"

    .aformd__title
      .formtitles
        youtube_url
      = f.text_field :youtube, class:"aformd"
    
    .aformd__title
      .formtitles
        thumbnail
      = f.file_field :image, class:"aformd"
    
    -# .aformd__title
    -#   .formtitles
    -#     thumbnail
    -#   = f.file_field :poster,accept:"image/jpeg,image/png", class:"aformd"
    -# .aformd__title
    -#   .formtitles
    -#     video
    -#   = f.file_field :image, accept:"video/mp4",class:"aformd"
.nested-fields__button2
  -# = link_to_remove_association "削除", f,class: "desvv2"
  = f.label '削除',class:"desvv2" do
  
    削除
    = f.check_box :_destroy,class:"desvv2"
    