.services.ShareContainer.emghj
  .SectionBoxB#serlechs
    .services__container2.ShareRows
      = ehomes.title
    .services__container2.ShareRows2
      = ehomes.discribe
.SectionBoxC
  .swiper-container2
    / Additional required wrapper
    .swiper-wrapper
      / Slides
      -ehomes.eehomes.each do |e|
        .swiper-slide
          .sectionboxE
            .S2__image
              - if e.image?
                -# = video_tag(e.image.url, muted: :true,playsinline: :true,loop: :true,autoplay: :true,controls: :true)
                = video_tag(e.image.url, muted: :true,controls: :true,poster:"#{e.poster}",controlslist: :nodownload)

                  
            .sectionboxEA
              .S2__company
                = e.title
              .S2__discribe
                = e.discribe
      
%script{:src => "https://unpkg.com/swiper/swiper-bundle.js"}
%script{:src => "https://unpkg.com/swiper/swiper-bundle.min.js"}
= javascript_pack_tag "swiper/swiper2.js"