$('#ehomes__rendering').html("<%= j(render partial: 'ehomes/ehomes', locals: {ehomes: @ehomes}) %>");
$('#ehomes_area--box3-<%= @ehomes.id %>').html("<%= j(render partial: 'ehomes/admins_ehomes', locals: {ehomes: @ehomes}) %>");


$('#ehomes_area--box3-<%= @ehomes.id %>').hide();
$('#ecr-edit-button<%= @ehomes.id %>').hide;
  $(".allcover__sheet").css("display","none");
$('#alert-message').html('<div class="alert alert-success"><%= @msg %></div>')

$("#alert-message").fadeIn().queue(function() {
            setTimeout(function(){$("#alert-message").dequeue();
            }, 5000);
        });

        $("#alert-message").fadeOut();