.About2
  .About2__rightS
    .About2__left__box
      .About2__left__box__first__title2
        = dhomes.title
      .About2__left__box__first__discribe2
        = dhomes.discribe

  .About2__right
    = image_pack_tag "jakob-owens-mQxttWjHFjA-unsplash.jpg"
  
  .About2__left
    
    .About2__left__box
      .About2__left__box__first__title2
        = dhomes.title
      .About2__left__box__first__discribe2
        = dhomes.discribe
  
.About2
  -# .About__BoxAA
  .About2__left.About2__leftS
    .About2__left__box
    
      .About2__left__box__first__title2
        = dhomes.title2
      .About2__left__box__first__discribe2
        = dhomes.discribe2


  .About2__right
    = image_pack_tag "ross-sneddon-0MBt0sGU8UA-unsplash.jpg"