.About2
  .About2__rightS.donnaler
    .About2__left__box
      .About2__left__box__first__title2
        = dhomes.title
      .About2__left__box__first__discribe2
        = dhomes.discribe

  .About2__right#elicse1
    -# = image_pack_tag "jakob-owens-mQxttWjHFjA-unsplash.jpg"
    = image_pack_tag "ross-sneddon-0MBt0sGU8UA-unsplash.jpg"
  
  .About2__left#elicse5.donnaler
    
    .About2__left__box#elicse2
      .About2__left__box__first__title2
        = dhomes.title
      .About2__left__box__first__discribe2
        = dhomes.discribe
  
.About2.About3
  -# .About__BoxAA
  .About2__left.About2__leftS#elicse6.donnaler
    .About2__left__box#elicse3
    
      .About2__left__box__first__title2
        = dhomes.title2
      .About2__left__box__first__discribe2
        = dhomes.discribe2


  .About2__right#elicse4
    = image_pack_tag "ross-sneddon-0MBt0sGU8UA-unsplash.jpg"