$('#bloghomes__rendering').html("<%= j(render partial: 'blogs/blogs', locals: {blogsfs: @blogsfs,contacts: @contacts}) %>");

$('#dhomes_area--box3-<%= @dhomes.id %>').html("<%= j(render partial: 'dhomes/admins_dhomes', locals: {dhomes: @dhomes}) %>");


$('#dhomes_area--box3-<%= @dhomes.id %>').hide();
$('#dcr-edit-button<%= @dhomes.id %>').hide;
  $(".allcover__sheet").css("display","none");
$('#alert-message').html('<div class="alert alert-success"><%= @msg %></div>')

$("#alert-message").fadeIn().queue(function() {
            setTimeout(function(){$("#alert-message").dequeue();
            }, 5000);
        });

        $("#alert-message").fadeOut();