-# %script{:src => "https://unpkg.com/swiper/swiper-bundle.js"}
-# %script{:src => "https://unpkg.com/swiper/swiper-bundle.min.js"}


.MainContents#pagepiling
  %section.sectionpage
    .TopContents
      .TopContents__container
        .TopContents__container__message
          = @ahomes.title
          %br
          = @ahomes.title2
        .TopContents__container__message2
          = @ahomes.discribe
        .TopContents__container__button
          .TopContents__container__button__left
            = link_to destroy_user_session_path, method: :delete , class:"homes__button__left" do
              = @ahomes.button_left

          .TopContents__container__button__right
            = link_to "" , class:"homes__button__right" do
              = @ahomes.button_right
  -# %h1 Swiperを使ってカルーセル
  / Slider main container
  .SectionBoxA#aa
    
    .services.ShareContainer
      .SectionBoxB
        .services__container.ShareRows
          =@bhomes.title
          %br
          =@bhomes.title2
        .services__container2.ShareRows2
          =@bhomes.discribe
    .SectionBoxC
      .swiper-container
        / Additional required wrapper
        .swiper-wrapper
          / Slides
          - @bhomes.bbhomes.each_with_index do |b,i|
            - i = i + 1
            .swiper-slide 
              .sectionboxD
                .S__logo
                  = i
                .S__title
                  =b.title
                .S__discribe
                  =b.discribe
              
        / If we need pagination
        .swiper-pagination
          
        / If we need navigation buttons
        .swiper-button-prev
          =icon("fas","chevron-circle-left",class:"mikan")
   
          
          -# = icon("fas","search",class: "mikan")
        .swiper-button-next
          = icon("fas","chevron-circle-right",class: "mikan")
        / If we need scrollbar
        -# .swiper-scrollbar
        -# %script{:src => "https://unpkg.com/swiper/swiper-bundle.js"}
        -# %script{:src => "https://unpkg.com/swiper/swiper-bundle.min.js"}
        -# = javascript_pack_tag "swiper/swiper.js"
  .sectionBoxAA#ab
    .About
      -# .About__BoxAA
      .About__left
        .About__left__title
          = @chomes.title
        .About__left__first__title
          = @chomes.title2
        .About__left__first__discribe
          = @chomes.discribe


      .About__right
        = image_pack_tag "jakob-owens-CiUR8zISX60-unsplash.jpg"

  .sectionBoxAB
    .sectionBocABC
      .About2
        -# .About__BoxAA
        -# .About2__left
          
        -#   .About__left__box
        -#     .About2__left___box__first__title2
        -#       独自のビジネスモデルで納得価格
        -#     .About2__left__box__first__discribe2
        -#       コンサルタント出身のプロデューサーが、ビジネスプロデューサーとクリエイティブディレクターを兼任できるから、中間マージン不要。 代理店を挟まない独自のビジネスモデルで、高品質動画制作と納得の価格を実現。


        .About2__right
          = image_pack_tag "jakob-owens-mQxttWjHFjA-unsplash.jpg"
        
        .About2__left
          
          .About2__left__box
            .About2__left__box__first__title2
              = @dhomes.title
            .About2__left__box__first__discribe2
              = @dhomes.discribe
        
      .About2
        -# .About__BoxAA
        .About2__left
          .About2__left__box
          
            .About2__left__box__first__title2
              = @dhomes.title2
            .About2__left__box__first__discribe2
              = @dhomes.discribe2


        .About2__right
          = image_pack_tag "ross-sneddon-0MBt0sGU8UA-unsplash.jpg"

  .SectionBoxA#ac
    
    .services.ShareContainer
      .SectionBoxB
        .services__container2.ShareRows
          = @ehomes.title
        .services__container2.ShareRows2
          = @ehomes.discribe
    .SectionBoxC
      .swiper-container2
        / Additional required wrapper
        .swiper-wrapper
          -@ehomes.eehomes.each do |e|
            / Slides
            .swiper-slide
              .sectionboxE
                .S2__image
                  - if e.image?
                    = image_tag(e.image.url)
                .sectionboxEA
                  .S2__company
                    = e.title
                  .S2__discribe
                    = e.discribe
          

          
  
  .SectionBoxA#ad
    
    .services.ShareContainer
      .SectionBoxB
        .services__container.ShareRows
          = @fhomes.title
          %br
          = @fhomes.title2
        .services__container2.ShareRows2
          = @fhomes.discribe
          
    .SectionBoxC
      .swiper-container
        / Additional required wrapper
        .swiper-wrapper
          / Slides
          -@fhomes.ffhomes.each_with_index do |f,i|
            - i = i + 1
            
            
            .swiper-slide 
              .sectionboxD
                .S__logo
                  = i
                .S__title
                  = f.title
                .S__discribe
                  = f.discribe
        / If we need pagination
        .swiper-pagination
          
        / If we need navigation buttons
        .swiper-button-prev
          =icon("fas","chevron-circle-left",class:"mikan")
   
          
          -# = icon("fas","search",class: "mikan")
        .swiper-button-next
          = icon("fas","chevron-circle-right",class: "mikan")
        / If we need scrollbar
        -# .swiper-scrollbar
  
  .sectionboxG#ae
    .sectionboxG__grid
      .sectionboxG__grid__up
        .price__discribe
          = @ihomes.title
          %br
          = @ihomes.title2
          %br
          = @ihomes.title3
        
      .sectionboxG__grid__down

      
    .price__type
      - @ihomes.iihomes.each_with_index do |i,t|
        .ihomes_t{class:"price__patarnA#{t}"}
          .patarnAL__title
            = i.title
          .patarnAL__discribe
            = i.discribe
          .patarnAL__features
            .ihomes_t1{class:"patarnAL__features__#{t}"}
              = i.colum1
            .ihomes_t1{class:"patarnAL__features__#{t}"}
              = i.colum2
            .ihomes_t1{class:"patarnAL__features__#{t}"}
              = i.colum3
          .patarnAL__price
            = i.price

  .sectionboxN#af
    .News
      .News__grid
        .News__title
          Our Blog
        .News__discribe
          日々の活動を記録しています。
      .News__grid2
        .News__contents
          -# .News__contents__lists__1
          - @blogsfs.each do |b|
            .News__contents__lists__1
              .armin__image
                - if b.image?
                  = image_tag(b.image.url)               
              .armin__title
                = b.title
              .armin__discribe
                = b.discribe
              .armin__days
                = b.updated_at.strftime('%Y/%m/%d %H:%M:%S')
        
              .News__contents__list__no{id:"blogs_area--box3-#{b.id}"}
                .aaa
                  .armin__image__blog
                    -# - if b.image?
                    -#   = image_tag(b.image.url)
                  .bbb
                    .armin__title__blog
                      = b.title
                    .armin__days__blog
                      = b.updated_at.strftime('%Y/%m/%d %H:%M:%S')
                    .armin__richcontents
                      = b.content
                  .blogscr-edit-button.aformd__edit__button{id: "blogscr-edit-button#{b.id}", :style => "display: none;"}
                    .aaaaa.blogscr-cancel-button{"data-cancel-idblogs" => "#{b.id}"}
                      = icon("far","times-circle")
              .News__contents__lists__cover{"data-b2blogs__id": "#{b.id}"}
  .sectionboxCO#ag
    .ContactUs
      .ContactUs__grid
        .ContactUs__title
          お気軽にご連絡下さい。
        .ContactUs__discribe
          御社のプロジェクト内容に適したクリエイターより、
          通常3営業日以内にはご連絡させて頂きます。
      .ContactUs__grid2
  
  %footer 
    .footer__logo
      = image_pack_tag 'samplelogo.png'
    
    .footer__adress
      住所が入ります。

    .footer__copyright
      copy 2020 MILKCANDY__ARGMW7





  .allcover__sheet


%script{:src => "https://unpkg.com/swiper/swiper-bundle.js"}
%script{:src => "https://unpkg.com/swiper/swiper-bundle.min.js"}
= javascript_pack_tag "swiper/swiper.js"


  


      