-# %script{:src => "https://unpkg.com/swiper/swiper-bundle.js"}
-# %script{:src => "https://unpkg.com/swiper/swiper-bundle.min.js"}


.MainContents#pagepiling
  .TopContents
    .TopContents__container{id: "ahomes_area--box2-#{@ahomes.id}"}
      = render partial: "ahomes/ahomes", locals: { ahomes: @ahomes }
    .viemp4 
      -# = video_tag asset_pack_path "videos/Camera - 26531のコピー.mp4", playsinline: true, autoplay: true, loop: true, muted: true, width: "320", height: "240", class: "index-video"
      -# -# poster:asset_pack_path:"images/alex-kotliarskyi-QBpZGqEMsKg-unsplash1.jpg"
      = video_tag "/videos/Camera - 26531.mp4", playsinline: true,poster:"/videos/alex-kotliarskyi-QBpZGqEMsKg-unsplash1.jpg", autoplay: true, loop: true, muted: true, width: "320", height: "240", class: "index-video"
  
  .SectionBoxA#ac
    - if request.from_smartphone?
      #ehomes__rendering
        = render partial: "ehomes/smafo_ehomes", locals: { ehomes: @ehomes }
    -else
      #ehomes__rendering
        = render partial: "ehomes/ehomes", locals: { ehomes: @ehomes }
      -# #ehomes__rendering
      -#   = render partial: "ehomes/smafo_ehomes", locals: { ehomes: @ehomes }

  .sectionBoxAA#ab
    .About#chomes__rendering
      = render partial: "chomes/chomes", locals: { chomes: @chomes }

  .sectionBoxAB
    .sectionBocABC#dhomes__rendering
      = render partial: "dhomes/dhomes", locals: { dhomes: @dhomes }
  
  
  .SectionBoxA#aa  
    #bbc
      = render partial: "bhomes/bhomes", locals: { bhomes: @bhomes }

  

  .sectionboxG#ae
    - if request.from_smartphone?

      #ihomes__rendering
        = render partial: 'ihomes/smafo_ihomes', locals: {ihomes: @ihomes}
    - else
      #ihomes__rendering
        = render partial: 'ihomes/ihomes', locals: {ihomes: @ihomes}

      -# #ihomes__rendering
      -#   = render partial: 'ihomes/smafo_ihomes', locals: {ihomes: @ihomes}


  
  
  .SectionBoxA#ad
    -# #fhomes__rendering
    -#   = render partial: 'fhomes/fhomes', locals: {fhomes: @fhomes}
    #interviews__rendering
      = render partial: 'interviews/interviews',locals:{interviews: @interviews}
    
  
  
  
  -# .sectionBoxAA#ab
  -#   .About#chomes__rendering
  -#     = render partial: "chomes/chomes", locals: { chomes: @chomes }

  -# .sectionBoxAB
  -#   .sectionBocABC#dhomes__rendering
  -#     = render partial: "dhomes/dhomes", locals: { dhomes: @dhomes }

  -# .sectionboxN#af
  -#   .News#bloghomes__rendering
  -#     = render partial: 'blogs/blogs_home', locals: {blogsfs: @blogsfs}

  .sectionboxCO#ag
    .ContactUs#confirmhomes{style:"background-color: black;"}
      = render partial: 'inquiries/confirm', locals: {inquiry: @inquiry}

  
    
    


  
  %footer 
    .footer__logo
      = image_pack_tag "S__330563589.png"
    
    .footer__adress
      = link_to  new_user_session_path, method: :get do
        Adress：
        = @ahomes.adress

    .footer__copyright
      = link_to destroy_user_session_path, method: :delete do
        Copyright © 2021 MC.atgmw628




  .youtube__box
  .allcover__sheet

  -# - if @thanks.present?
  -#   .allcover__sheet2


-# %script{:src => "https://unpkg.com/swiper/swiper-bundle.js"}
-# %script{:src => "https://unpkg.com/swiper/swiper-bundle.min.js"}
-# = javascript_pack_tag "swiper/swiper.js"


  


      