!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Samples
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

    %link{:href => "https://unpkg.com/swiper/swiper-bundle.css", :rel => "stylesheet"}/
    %link{:href => "https://unpkg.com/swiper/swiper-bundle.min.css", :rel => "stylesheet"}/

  %body
    %header 
      .TopContents__navi
        .TopContents__navi__left
          = image_pack_tag 'samplelogo.png'
        .TopContents__navi__right
          %ul
            %li
              SERVICE
            %li
              ABOUT
            %li
              PERFORMANCE
            %li
              MERIT
            %li
              PLAN
            %li
              FAQ
            %li
              お問い合わせ
    = yield
