!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0", name: "viewport"}
    %title Samples
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

    -# %link{:href => "https://unpkg.com/swiper/swiper-bundle.css", :rel => "stylesheet"}/
    -# %link{:href => "https://unpkg.com/swiper/swiper-bundle.min.css", :rel => "stylesheet"}/

  %body
    %header 
      .TopContents__navi
        .TopContents__navi__left
          - if @ahomes.logo?
            .image__logo
              = image_pack_tag "S__329588743.png"
              -# = image_tag(@ahomes.logo.url)
            .image__logo2
              = image_pack_tag "S__330563589.png"
        .TopContents__navi__right
          %ul.right_1000__up
            - @ahomes.aahomes.order(:rank).each_with_index do |aa,i|
              %li
                = link_to "#{aa.link}" do
                  =aa.mainmenu
                  %br
                  .aahomes__menus{id:"mainmemus__#{i}"}
                    =aa.menu
              - break if i== 4
          .right_1000__up2
            =link_to @ahomes.aahomes.find(7).link do
              = @ahomes.aahomes.find(7).mainmenu
              %br
              .aahomes__menus__contactus
                = @ahomes.aahomes.find(7).menu
                    
             
                    
          .TopContents__navi__smafo
            .TopContents__navi__smafo__icon.mytoggle
              = icon("fas","align-justify",id:"align-justigy-icon")
            .TopContents__navi__smafo__icon2
              = icon("fas","times",id:"align-justigy-icon2")
        %ul.right_1000__down
          - @ahomes.aahomes.each_with_index do |aa,i|
            %li{id:"right__lists__navi__#{i}"}
              = link_to "#{aa.link}" do
                .sublink__main
                  =aa.mainmenu
                  -# =aa.menu
              


      #header__down
        = render partial: 'ahomes/header__down', locals: {ahomes: @ahomes}
        
      #alert-message 

         
    = yield

    -# .Scrollebutton
    -#   aaaa


